apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-app-deployment
  namespace: green
  labels:
    app: worker-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-app
  template:
    metadata:
      labels:
        app: worker-app
    spec:
      imagePullSecrets:
        - name: acr-secret
      nodeSelector:
            env: green 
      containers:
      - name: worker-app-container
        image: shan365.azurecr.io/worker-app:latestv1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
          # Secrets
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER

          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD

          # ConfigMap
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: postgres-config
                key: DB_HOST

          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: postgres-config
                key: DB_PORT

          - name: DB_NAME
            valueFrom:
              configMapKeyRef:
                name: postgres-config
                key: DB_NAME

          - name: DB_URL_TEMPLATE
            valueFrom:
              configMapKeyRef:
                name: postgres-config
                key: DB_URL_TEMPLATE



